body {
    background-image: url(../images/baggrund2.jpg);
    background-size: 100%, 100%;
    font-family: 'Montserrat', sans-serif;
    color: #9D8975;
    margin: 0;
    font-size: 20px;
}

p {
    line-height: 30px;
}

.mellemrum {
    margin-top: 60px;
}

    .logoplace {
            display: inline-block;
            vertical-align: top;
            width: 12%;
            margin-right: 20px;
            margin-top: 25px;
            margin-left: 25px;

